<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeeraERP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E2AAF0D1FE346F90082405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2AAF241FE346F90082405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2AAF2F1FE346FA0082405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
